$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); 
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); 


$primary:#111; //122a4a
$secondary:#6a6a6a;
$white:#fff;
$blue:#13318e;
$blue_light:#4470f6;
$orange:#fd6208;




